.faqBg {
  width: 100%;
  min-height: 100vh;
  background: #f6f5e9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 60px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.faqContent {
  text-align: center;
  width: 100vw;
}

.faqLabel {
  font-size: 1.1rem;
  color: #143F35;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 18px;
  font-family: Cormorant Garamond;
}

.faqTitle {
  font-size: 2.7rem;
  font-weight: 400;
  color: #0A1F1A;
  margin-bottom: 55px;
  letter-spacing: 0.02em;
  font-family: Satoshi;
}

.faqBox {
  width: 75vw;
  max-width: 1200px;
  margin: 0 auto;
}

.faqCard {
  background: #fff;
  border-radius: 6px;
  margin-bottom: 18px;
  text-align: left;
  box-sizing: border-box;
  padding: 0 36px;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faqOpen {
  padding: 20px 36px 18px 36px;
  min-height: 97px;
}

.questionRow {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.32rem;
  color: #0A1F1A;
  font-weight: 400;
  letter-spacing: 0.01em;
    font-family: Satoshi;


}

.answer {
  margin-top: 8px;
  font-size: 1.03rem;
  font-weight: 400;
  line-height: 1.38;
    color: #0A1F1A;
    font-family: Satoshi;

}

.arrow {
  font-size: 1.2rem;
  color: #232923;
  user-select: none;
}
