.bg {
  background: #606d69;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.title {
  color: #f6f5e9;
  font-size: 3rem;
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
  line-height: 1.1;
}

.input {
  width: 430px;
  height: 50px;
  border-radius: 6px;
  padding: 0 18px;
  border: none;
  margin-bottom: 20px;
  font-size: 1.18rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button {
  width: 430px;
  height: 50px;
  background: #27453c;
  color: #f6f5e9;
  border: none;
  border-radius: 6px;
  font-size: 1.13rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0 1.5px 7px #23362f38;
  transition: background 0.15s;
}

.button:hover {
  background: #1e3831;
}
